body
{
  color: white;
  background-color: darkmagenta;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_guesture_name ,#result_guesture_name2  
{
  color: black;
}
.guesture_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  border-radius: 10px;
  letter-spacing: 10px;
  font-size: 18px;
}
label{
  font-size: 14px;
  color:fuchsia;
  padding: 6px;
  background-color: white;
  border-radius: 10px;
}